@model Bsnsapp.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Category</legend>

    <div class="display-label">Categories</div>
    <div class="display-field">@Model.Categories</div>

    <div class="display-label">Sub Categories</div>
    <div class="display-field">@Model.Sub_Categories</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Home", "Users")
    </p>
}


